---
import Icon from "../components/Icon.astro";
import Link from "../components/Link.astro";
import { GitHubLink, LinkList, StreamLink, YouTubeLink } from "../const";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="TheEnderCore">
  <main class="h-full flex flex-col justify-center">
    <div class="flex items-center relative">
      <div>
        <h1 class="text-[10rem] font-black font-sans text-[#9e4ec7]">
          TheEnderCore
        </h1>

        <p class="text-[1.4rem] font-barlow p-20 pt-10 w-9/12">
          <span class="text-2xl"> Hello! I'm Ender<br /></span>
          Im a <Link title="Software dev" href={GitHubLink} />, who's obsessed
          with coding. I'm also a
          <Link title="Streamer" href={StreamLink} />
          as I find it very fun to streaming coding or playing games. Besides that
          once in a blue moon I upload to
          <Link title="Youtube" href={YouTubeLink} />.
        </p>
      </div>

      <div class="w-[550px] absolute right-[-4rem]">
        <img src="/eye.png" alt="eye" />
      </div>
    </div>
    <ul class="flex gap-5 justify-center pt-16 text-xl">
      {LinkList.map((i) => <Icon item={i} />)}
    </ul>
  </main>
</Layout>
