---
import { StreamLink } from "../const";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="TheEnderCore">
  <hero class="h-full flex items-center justify-center w-full relative">

    <!-- <h1 class="text-[12rem] font-black absolute">
      TheEnderCore
    </h1> -->
  </hero>
  <main>
    <p class="py-10">
      Hello! My name is Ender. Im a Software dev, whos obsessed with coding <span
        class="italic text-sm">(It's not a problem)</span
      >. I love spending all day to just coding things. Im also a <a
        href={StreamLink}
        class="text-purple-400 font-bold hover:scale-150">Streamer</a
      > as i find it very fun to streame me coding playing games.
    </p>
  </main>
</Layout>
