---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource/heebo";
import "@fontsource/barlow";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#0f0c12] text-[#f7eafb] fill-[#f7eafb] h-screen font-barlow">
    <main class="container m-auto px-5 min-h-screen">
      <slot />
    </main>
  </body>
</html>
